* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* common styles */

#add_new_game_section,
#filter_section,
#filter_section label,
#filter_section>div,
#game_list_section,
#model_container,
#add_new_game_model>form fieldset,
#view_game_model,
#details_container>#personal_details_section,
#details_container>:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: capitalize;
}

#add_new_game_section>button:hover,
.game_card>button:hover,
.game_image_container img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add New Game section */

#add_new_game_section {
    padding: 16px 0;
    position: relative;
}

#add_new_game_section>button {
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    border-radius: 50%;
    font-size: 16px;
}

/* Filter section */

#filter_section {
    flex-direction: column;
}

#filter_section label {
    font-size: 12px;
}

#filter_section input,
#filter_section select {
    padding: 8px 4px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

#platform_container label {
    font-size: 16px;
}

#platform_container select {
    font-size: 18px;
}

/* Game list section */

#game_list_section {
    gap: 40px;
    margin-top: 20px;
    text-transform: none !important;
    flex: 1;
    overflow-y: scroll;
    padding: 20px 0;
}

.game_card {
    width: 300px;
    border: 2px solid black;
    padding: 8px;
    position: relative;
}

.game_card>.game_image_container {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.game_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.game_card>.game_image_container>.title,
.game_card>.price,
.game_card>button {
    position: absolute;
    background-color: pink;
    padding: 0 4px;
}

.game_card>.game_image_container>.title {
    font-size: 18px;
    font-weight: 700;
    bottom: 0;
    left: 0;
}

.game_card>.price {
    right: 4px;
    top: -12px;
}

.game_card p {
    text-align: justify;
    font-size: 16px;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}

.game_card>button {
    right: 4px;
    text-transform: capitalize;
}

/* model styles */

#model_container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);

}

#model_container>div {
    background-color: pink;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* Add new Game model */

#add_new_game_model,
#view_game_model {
    width: 400px;
    max-width: 100%;
    position: relative;
}

#add_new_game_model .action_btn,
#view_game_model .action_btn {
    position: absolute;
    padding: 8px;
}

#add_new_game_model .close,
#view_game_model .close {
    top: -18px;
    left: -18px;
    border-radius: 50%;
}

#add_new_game_model .add {
    bottom: -18px;
    right: -18px;
    border-radius: 8px;
}

#add_new_game_model>form {
    padding: 8px 0;
}

#add_new_game_model>form fieldset {
    width: 100%;
    border: none;
    margin-bottom: 4px;
}

#add_new_game_model>form fieldset input,
#add_new_game_model>form fieldset select,
#add_new_game_model>form fieldset label {
    flex: 1;
    border: none;
    padding: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 0 8px 0 8px;
}

#add_new_game_model>form fieldset input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

/* View Game model */

#view_game_model {
    width: 800px;
    height: 500px;
    max-height: 100%;
}

#view_game_model>div {
    border: 1px solid black;
    flex: 1;
    padding: 8px;
    height: 100%;
}

#image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#details_container>#personal_details_section {
    margin-bottom: 8px;
}

#details_container>#personal_details_section>:first-child {
    flex: 1;
}

#details_container>#personal_details_section>:first-child h2 {
    font-size: 32px;
    font-family: "Cookie", cursive;
}

#details_container>#personal_details_section>:first-child p {
    font-size: 12px;
}

#details_container>#personal_details_section>:last-child h3 {
    font-size: 16px;
}

#details_container>#personal_details_section>:last-child p {
    font-size: 12px;
    text-align: right;
}

#details_container>:nth-child(2) {
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 8px;
}

#details_container>:nth-child(2) p {
    flex: 1;
    text-align: center;
    font-weight: 500;
}

#details_container>p {
    font-size: 14px;
}

/* notification box */

#notification_box {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin: 8px;
    display: none;
    font-size: 12px;
    z-index: 999;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}